/* UNCOMMENT TO CHANGE THEME */

// @import 'themes/default';
// @import 'themes/blue';
// @import 'themes/red';
// @import 'themes/light';
@import 'themes/dark';




header {
    padding: 0.1rem;
    font-size: 0.8rem;

    span {
        font-family: sans-serif
    }

    .col-md-6 a {
        text-decoration: none;
        font-family: sans-serif;
    }

}

body {
    font-family: Roboto;
}

nav {
    text-transform: uppercase;
    font-family: Oxygen;
    
    .navbar-brand {
        text-transform: capitalize;
    }

    span {
        font-size:10px;
    }



}

#carouselExampleIndicators {
    height: 300px;
    width: auto;
    overflow: hidden;
}

.carousel-inner {
    height: 300px;
    width: auto;
    overflow: hidden;
}

.carousel-item {
    height: 300px;
    width: auto;
    overflow: hidden;
}

.remind {
    font-size: 0.7rem;
    .card-header {
        font-size: 0.8rem;
    }
}

.login {
    .card-header{
        font-size: 0.8rem;
    }
    font-size: 0.9rem;
    input, select, span {
        font-size: 0.8rem;
    }
    .btn {
        font-size: 0.7rem;
        cursor: pointer;
    }
}


.card {
}

.ad_1 {
    margin-bottom: 20px;
    height: 70vh;
}

.ad_2 {
    margin-bottom: 20px;
    height: 15vh;
}