$colors: (dark: #333, light: #555, primary: #fff);
$border-opt: (border-active: false, border-theme: 'material', border-level: 1);
$text-colors: (headerText:#a8a6a6 , paraText: #888, anchorText: #ccc);
