body {
  font-family: Roboto, sans-serif, verdana, serif;
  background: #edeff2;
  position: relative; }

p {
  font-size: 0.850rem; }

nav {
  text-transform: uppercase;
  font-family: Oxygen; }
  nav a {
    color: #fff; }
  nav input {
    border-radius: 0; }
  nav .input-group-addon {
    border-radius: 0; }
  nav .navbar-brand {
    text-transform: capitalize; }
  nav span {
    font-size: 10px; }
  nav .form-inline {
    border: 0px; }
    nav .form-inline button {
      border: 0px; }

.carousel-inner, .carousel-item {
  height: 367px;
  width: auto;
  overflow: hidden; }

.carousel-item img {
  filter: contrast(40%); }

.carousel-caption p {
  font-size: 1rem; }

.m-login {
  font-size: 0.8rem; }
  .m-login .card-header {
    font-size: 0.8rem; }
  .m-login input, .m-login select {
    font-size: 0.8rem; }
  .m-login .btn {
    font-size: 0.7rem;
    cursor: pointer; }
  .m-login span {
    font-size: 0.750rem; }

.main {
  background: #fff; }

.card-info ul li {
  display: inline-block; }

.about-links a {
  text-decoration: none;
  color: #333; }

.m-remind {
  font-size: 0.7rem; }
  .m-remind .card-header {
    font-size: 0.8rem; }
  .m-remind .btn {
    font-size: 0.8rem;
    cursor: pointer; }

.m-teacher-cards .card:hover {
  background: #ddd;
  cursor: pointer; }
.m-teacher-cards p {
  overflow: hidden;
  line-height: 1.2em;
  max-height: 3rem;
  text-overflow: ellipsis; }
.m-teacher-cards a {
  font-size: 0.8rem; }

.m-ad_1 {
  background-image: url(http://static.wirtualnemedia.pl/media/top/evan-spot-biblioteka655.jpg);
  background-size: cover;
  color: #fff;
  background-position: -200px;
  margin-bottom: 20px;
  height: 62.8vh; }

.m-ad_2 {
  margin-bottom: 20px;
  height: 24.2vh; }

.m-ad_3 {
  background-image: url(https://www.isa.org/uploadedImages/Content/Members_Corner/Leader_Resources/Operating_Documents/Free%20Web%20Seminars%20Ad%20third_square-color-high_res.jpg?n=7715);
  background-size: 100%;
  margin-bottom: 20px;
  height: 26.1vh; }

nav a:hover {
  color: #ddd; }

.navi-dark {
  background: #333333;
  color: #757575; }
  .navi-dark .form-inline input {
    background: #1f1f1f; }
    .navi-dark .form-inline input:focus {
      background: #0a0a0a; }
  .navi-dark .form-inline button {
    background: #242424;
    color: #666666; }

.navi-light {
  background: white;
  color: white; }
  .navi-light .form-inline input {
    background: #999999; }
    .navi-light .form-inline input:focus {
      background: #333333; }
  .navi-light .form-inline button {
    background: #b3b3b3;
    color: white; }

.navi-primary {
  background: gray;
  color: white; }
  .navi-primary .form-inline input {
    background: #4d4d4d; }
    .navi-primary .form-inline input:focus {
      background: #1a1a1a; }
  .navi-primary .form-inline button {
    background: #5a5a5a;
    color: white; }

.navi-secondary {
  background: #888888;
  color: white; }
  .navi-secondary .form-inline input {
    background: #525252; }
    .navi-secondary .form-inline input:focus {
      background: #1b1b1b; }
  .navi-secondary .form-inline button {
    background: #5f5f5f;
    color: white; }

.navi-important {
  background: red;
  color: red; }
  .navi-important .form-inline input {
    background: #990000; }
    .navi-important .form-inline input:focus {
      background: #330000; }
  .navi-important .form-inline button {
    background: #b30000;
    color: red; }

.card-bgc-dark {
  border: 0;
  background: #333333; }
  .card-bgc-dark .list-group-item {
    background: #333333; }
    .card-bgc-dark .list-group-item:hover {
      background: #2e2e2e; }
  .card-bgc-dark .card-header {
    background: #292929;
    color: #1a1a1a; }
  .card-bgc-dark input, .card-bgc-dark select, .card-bgc-dark span {
    color: #1a1a1a; }

.bgc-dark {
  background-color: #333; }

.card-bgc-light {
  border: 0;
  background: white; }
  .card-bgc-light .list-group-item {
    background: white; }
    .card-bgc-light .list-group-item:hover {
      background: #e6e6e6; }
  .card-bgc-light .card-header {
    background: #cccccc;
    color: gray; }
  .card-bgc-light input, .card-bgc-light select, .card-bgc-light span {
    color: gray; }

.bgc-light {
  background-color: #fff; }

.card-bgc-primary {
  border: 0;
  background: gray; }
  .card-bgc-primary .list-group-item {
    background: gray; }
    .card-bgc-primary .list-group-item:hover {
      background: #737373; }
  .card-bgc-primary .card-header {
    background: #666666;
    color: #404040; }
  .card-bgc-primary input, .card-bgc-primary select, .card-bgc-primary span {
    color: #404040; }

.bgc-primary {
  background-color: #808080; }

.card-bgc-secondary {
  border: 0;
  background: #888888; }
  .card-bgc-secondary .list-group-item {
    background: #888888; }
    .card-bgc-secondary .list-group-item:hover {
      background: #7a7a7a; }
  .card-bgc-secondary .card-header {
    background: #6d6d6d;
    color: #444444; }
  .card-bgc-secondary input, .card-bgc-secondary select, .card-bgc-secondary span {
    color: #444444; }

.bgc-secondary {
  background-color: #888; }

.card-bgc-important {
  border: 0;
  background: red; }
  .card-bgc-important .list-group-item {
    background: red; }
    .card-bgc-important .list-group-item:hover {
      background: #e60000; }
  .card-bgc-important .card-header {
    background: #cc0000;
    color: maroon; }
  .card-bgc-important input, .card-bgc-important select, .card-bgc-important span {
    color: maroon; }

.bgc-important {
  background-color: red; }

.buttons-dark {
  background: #333; }

.buttons-light {
  background: #fff; }

.buttons-primary {
  background: #808080; }

.buttons-secondary {
  background: #888; }

.buttons-important {
  background: red; }

.main {
  border: 0; }

/*# sourceMappingURL=main.css.map */
