@import '../partials/variables';

// @media (min-width: 1200px){
//     .container {
//         max-width: 1200px;
//     }
// }

body { 
    font-family: $font-stack;
    // background: #edeff2;
    position: relative;
}

p {
    font-size: 0.850rem;
}

