header {
    background-color: #7D1128;
    
    span {
        font-family: sans-serif
    }

    .col-md-6 a {
        color: #ccc;
        &:hover {
            color: #888;
        }
    }
}

nav {
    font-family: Oxygen;

    a {
        color: #fff;
    }

    .theborder {
        background: #333;
        &:active {
            background: #666;
        }
    }

    // .form-inline {
    //     input{
    //         background: #333;
    //         &:focus {
    //             color: #ccc;
    //             background: #333;     
    //         }
    //     }
    //     button { background: #444; color: #222; }
    // }

    .input-group-addon  {
        border-radius: 0;
    }
}

#carouselExampleIndicators {
    height: 367px;
    width: auto;
    overflow: hidden;
}

.carousel-inner {
    height: 367px;
    width: auto;
    overflow: hidden;
}



.login {
    input, select, span {
        color: #777;
    }
}

.main {
    background: #fff;
}