%static_car {
    height: 377px;
    width: auto;
    overflow: hidden;
}

.front-caro {
    .carousel-inner {
        height: 373px;
        width: auto;
        overflow: hidden;
    }
    
    .carousel-item {
        height: 373px;
        width: auto;
        overflow: hidden;
    }

    .carousel-item {
        img { filter: contrast(40%); }
    }

    @media screen and (max-width: 1200px){  
        .carousel-inner {
            height: 391px;
            width: auto;
            overflow: hidden;
        }
        .carousel-item {
            height: 391px;
            width: auto;
            overflow: hidden;
        }    
    }
}



.teacher_caro {
    .carousel-inner { 
        height: 370px; 
        @extend %static_car; 
    }
    .carousel-item { 
        height: 370px;
        @extend %static_car; 
    }
}


.carousel-caption p {
    font-size: 1rem;
}
