nav {
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;

    li.nav-item {
        font-size: 1.2em; 
    }
    
    a.nav-link { 
        color: #fff; 
        padding-left: 10px;
        padding-right: 10px;
    }
    
    input { border-radius: 0; }
    .input-group-addon { border-radius: 0; }
    .navbar-brand { text-transform: capitalize; }
    span { font-size: 15px; }

    .form-inline {
        border: 0px;
        button { border: 0px; }
    }
}