.navi-primary {
  background: #2f2f2f;
  color: #adadad; }
  .navi-primary .form-inline input {
    background: black; }
    .navi-primary .form-inline input:focus {
      background: black; }
  .navi-primary .form-inline button {
    background: #1f1f1f;
    color: #525252; }

b.logo-label {
  color: gray; }

.navi-secondary {
  background: #fbfbfb;
  color: #333333; }
  .navi-secondary .form-inline input {
    background: #b3b3b3; }
    .navi-secondary .form-inline input:focus {
      background: gray; }
  .navi-secondary .form-inline button {
    background: #ebebeb;
    color: white; }

b.logo-label {
  color: gray; }

.navi-important {
  background: #f70000;
  color: #33cccc; }
  .navi-important .form-inline input {
    background: #660000; }
    .navi-important .form-inline input:focus {
      background: black; }
  .navi-important .form-inline button {
    background: #d60000;
    color: #ff3d3d; }

b.logo-label {
  color: gray; }

.card-bgc-primary {
  border: 0;
  background: #333; }
  .card-bgc-primary .list-group-flush {
    background: #424242; }
  .card-bgc-primary .list-g-teacher {
    background: #424242; }
  .card-bgc-primary .bgc-primary {
    background-color: #333; }
  .card-bgc-primary .butt-bg {
    background: #707070;
    color: #424242; }
  .card-bgc-primary .list-g-compo {
    background: #333; }
    .card-bgc-primary .list-g-compo:hover {
      background: #343434; }
  .card-bgc-primary .card-header {
    background: #525252; }
  .card-bgc-primary select, .card-bgc-primary span {
    color: #adadad; }
  .card-bgc-primary input {
    border: 1px solid #424242;
    color: gray;
    background: #3b3b3b; }
    .card-bgc-primary input:focus {
      background: #4a4a4a;
      color: gray; }

.card-bgc-secondary {
  border: 0;
  background: #fff; }
  .card-bgc-secondary .list-group-flush {
    background: #e6e6e6; }
  .card-bgc-secondary .list-g-teacher {
    background: #e6e6e6; }
  .card-bgc-secondary .bgc-secondary {
    background-color: #fff; }
  .card-bgc-secondary .butt-bg {
    background: #999999;
    color: #e6e6e6; }
  .card-bgc-secondary .list-g-compo {
    background: #fff; }
    .card-bgc-secondary .list-g-compo:hover {
      background: #fdfdfd; }
  .card-bgc-secondary .card-header {
    background: #cccccc; }
  .card-bgc-secondary select, .card-bgc-secondary span {
    color: #333333; }
  .card-bgc-secondary input {
    border: 1px solid #e6e6e6;
    color: gray;
    background: #f2f2f2; }
    .card-bgc-secondary input:focus {
      background: #d9d9d9;
      color: gray; }

.card-bgc-important {
  border: 0;
  background: red; }
  .card-bgc-important .list-group-flush {
    background: #e61a1a; }
  .card-bgc-important .list-g-teacher {
    background: #e61a1a; }
  .card-bgc-important .bgc-important {
    background-color: red; }
  .card-bgc-important .butt-bg {
    background: #996666;
    color: #e61a1a; }
  .card-bgc-important .list-g-compo {
    background: red; }
    .card-bgc-important .list-g-compo:hover {
      background: #fd0202; }
  .card-bgc-important .card-header {
    background: #cc3333; }
  .card-bgc-important select, .card-bgc-important span {
    color: #33cccc; }
  .card-bgc-important input {
    border: 1px solid #e61a1a;
    color: gray;
    background: #f20d0d; }
    .card-bgc-important input:focus {
      background: #d92626;
      color: gray; }

.pagi-bg {
  border: 1px solid #cccccc;
  background-color: #e6e6e6;
  color: #444; }

.buttons-primary {
  background: #333; }

.buttons-secondary {
  background: #fff; }

.buttons-important {
  background: red; }

body {
  background: #e6e6e6; }

.main {
  border: 0;
  background: #fff; }

.navbar a.nav-link {
  mix-blend-mode: exclusion; }
  .navbar a.nav-link:hover {
    color: #424242; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

p, b, li, span.card-msg {
  color: #444; }

a {
  color: #666; }
  a:hover {
    color: #6b6b6b; }

.carousel-inner h3 {
  color: #e6e6e6; }
.carousel-inner p {
  color: #e6e6e6; }

footer h3 {
  color: #e6e6e6; }
footer p {
  color: #e6e6e6; }

/*# sourceMappingURL=theme-func.css.map */
