.navi-primary {
  background: #2f2f2f;
  color: #adadad; }
  .navi-primary .form-inline input {
    background: black; }
    .navi-primary .form-inline input:focus {
      background: black; }
  .navi-primary .form-inline button {
    background: #1f1f1f;
    color: #454545; }

b {
  mix-blend-mode: exclusion; }

.navi-secondary {
  background: #fbfbfb;
  color: #333333; }
  .navi-secondary .form-inline input {
    background: #b3b3b3; }
    .navi-secondary .form-inline input:focus {
      background: gray; }
  .navi-secondary .form-inline button {
    background: #ebebeb;
    color: white; }

b {
  mix-blend-mode: exclusion; }

.navi-important {
  background: #f70000;
  color: #33cccc; }
  .navi-important .form-inline input {
    background: #660000; }
    .navi-important .form-inline input:focus {
      background: black; }
  .navi-important .form-inline button {
    background: #d60000;
    color: #ff2424; }

b {
  mix-blend-mode: exclusion; }

.card-bgc-primary {
  box-shadow: 0px 2px 3px #292929;
  border: 1 solid #292929;
  background: #333333; }
  .card-bgc-primary .list-group-flush {
    background: #424242; }
  .card-bgc-primary .list-g-teacher {
    background: #424242; }
  .card-bgc-primary .bgc-primary {
    background-color: #333; }
  .card-bgc-primary .butt-bg {
    background: #707070;
    color: #424242; }
  .card-bgc-primary .list-g-compo {
    background: #333; }
    .card-bgc-primary .list-g-compo:hover {
      background: #2e2e2e; }
  .card-bgc-primary .card-header {
    background: #525252; }
  .card-bgc-primary select, .card-bgc-primary span {
    color: #adadad; }
  .card-bgc-primary input {
    border: 1px solid #303030;
    color: #5c5c5c;
    background: #313131; }
    .card-bgc-primary input:focus {
      background: #2d2d2d;
      color: #5c5c5c; }

.card-bgc-secondary {
  box-shadow: 0px 2px 3px #cccccc;
  border: 1 solid #cccccc;
  background: white; }
  .card-bgc-secondary .list-group-flush {
    background: #e6e6e6; }
  .card-bgc-secondary .list-g-teacher {
    background: #e6e6e6; }
  .card-bgc-secondary .bgc-secondary {
    background-color: #fff; }
  .card-bgc-secondary .butt-bg {
    background: #999999;
    color: #e6e6e6; }
  .card-bgc-secondary .list-g-compo {
    background: #fff; }
    .card-bgc-secondary .list-g-compo:hover {
      background: #e6e6e6; }
  .card-bgc-secondary .card-header {
    background: #cccccc; }
  .card-bgc-secondary select, .card-bgc-secondary span {
    color: #333333; }
  .card-bgc-secondary input {
    border: 1px solid #f2f2f2;
    color: white;
    background: #f7f7f7; }
    .card-bgc-secondary input:focus {
      background: #e3e3e3;
      color: white; }

.card-bgc-important {
  box-shadow: 0px 2px 3px #cc0000;
  border: 1 solid #cc0000;
  background: red; }
  .card-bgc-important .list-group-flush {
    background: #e61a1a; }
  .card-bgc-important .list-g-teacher {
    background: #e61a1a; }
  .card-bgc-important .bgc-important {
    background-color: red; }
  .card-bgc-important .butt-bg {
    background: #996666;
    color: #e61a1a; }
  .card-bgc-important .list-g-compo {
    background: red; }
    .card-bgc-important .list-g-compo:hover {
      background: #e60000; }
  .card-bgc-important .card-header {
    background: #cc3333; }
  .card-bgc-important select, .card-bgc-important span {
    color: #33cccc; }
  .card-bgc-important input {
    border: 1px solid #f20000;
    color: red;
    background: #f70000; }
    .card-bgc-important input:focus {
      background: #e30000;
      color: red; }

.pagi-bg {
  border: 1px solid #d9d9d9;
  background-color: #f7f7f7;
  color: #444; }

.buttons-primary {
  background: #333; }

.buttons-secondary {
  background: #fff; }

.buttons-important {
  background: red; }

body {
  background: #e0e0e0; }

.main {
  box-shadow: 0px 2px 3px #cccccc;
  border: 1 solid #cccccc;
  background: #fff; }

.navbar a.nav-link {
  mix-blend-mode: exclusion; }
  .navbar a.nav-link:hover {
    color: #7d7d7d; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

p, b, li, span.card-msg {
  color: #444; }

a {
  color: #666; }
  a:hover {
    color: #333333; }

.carousel-inner h3 {
  color: white; }
.carousel-inner p {
  color: #ebebeb; }

footer h3 {
  color: #b8b8b8; }
footer p {
  color: #666666; }

/*# sourceMappingURL=theme-func.css.map */
