// @import 'premade-themes/theme-default';
// @import 'premade-themes/theme-light';
@import 'premade-themes/theme-nature';
// @import 'premade-themes/theme-dark';



@mixin checkBorder($var, $percent){
    @if map-get($border-opt, border-active) {
        @if map-get($border-opt, border-theme) == 'material' {
            box-shadow: 0px 2px 3px invert($var, $percent);
        }
        @if map-get($border-opt, border-theme) == 'minimal' {
            border: 1px solid $var * $percent;
        }
        @else { border: map-get($border-opt, border-level) solid darken($var, $percent); }
    } 
    @else { border: 0; }
}

@mixin headPara($header, $para){
    h3 { color: lighten(map-get($text-colors, anchorText) , 50%); }
    p { color: lighten(map-get($text-colors, anchorText) , 50%); }
}



// for navbar
@each $theList, $color in $colors {
    .navi-#{$theList} {
        background: darken($color, 1.5%);
        color: invert($color, 80);
        .form-inline {
            input {
                background: darken($color, 30%);
                &:focus { background: darken($color, 50%); }
            }
            button {
                background: darken($color, 8%);
                color: lighten($color, 12%);
            }
        }
    }

    b.logo-label {
       color: invert($color, 50); 
    }
}

// for cards and border
@each $card, $color in $colors {
    .card-bgc-#{$card}{

        @include checkBorder($color, 20%);

        background: $color;
        .list-group-flush { background: invert($color, 10); }  
        .list-g-teacher { background: invert($color, 10); } 
        .bgc-#{$card} { background-color: $color; }

        .butt-bg {
            background: invert($color, 40);
            color: invert($color, 10);
        }

        .list-g-compo {
            background: $color;
            &:hover { background: invert($color, 0.9); }
        }

        .card-header {
            background: invert($color, 20);
        }

        select, span { color: invert($color, 80); }

        input {
            border: 1px solid invert($color, 10%);
            color: invert($color, 50%);
            background: invert($color, 5%);
            &:focus {
                background: invert($color, 15%);   
                color: invert($color, 50%);
            }
        }
    }
}

.pagi-bg { 
    border: 1px solid invert(map-get($colors, secondary), 20%);
    background-color: invert(map-get($colors, secondary), 10%); 
    color: map-get($text-colors, paraText);
}

@each $buttons, $color in $colors { .buttons-#{$buttons} { background: $color;} }
body { background: invert(map-get($colors, secondary) , 10%); }

.main {
    @include checkBorder(map-get($colors, secondary), 20%);
    background: map-get($colors, secondary);
}

.navbar {
    a.nav-link {
        mix-blend-mode: exclusion;
        &:hover { color: invert(map-get($text-colors, headerText), 10%) }
    } 
}

// for fonts and headers
h1, h2, h3, h4, h5, h6 { color: map-get($text-colors, headerText); }
p, b, li, span.card-msg { color: map-get($text-colors, paraText); }

a {
    color: map-get($text-colors, anchorText);
    &:hover { color: invert(map-get($text-colors, anchorText) , 10%); }
}

// for carousel
.carousel-inner { @include headPara(2.5, 2.3); }
footer { @include headPara(1.8, 1); }
